/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Denk+One&display=swap');

/* General rules */

* {
   margin: 0;  
   box-sizing: border-box;
}

html, body {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background: #403B4A; 
    background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  
    background: linear-gradient(to right, #E7E9BB, #403B4A);
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'Denk One', sans-serif;
}

/* Landing page */

#home {
    background: linear-gradient(rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.753)), url('https://i.postimg.cc/Dz113ML2/walkers-486583-1920.jpg'), no-repeat 50% 50%;
    background-size: cover;
    display: table;
    height: 100vh;
    width: 100vw;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

h1 {
    animation: opacityPulse 6s ease-out; 
    animation-iteration-count: infinite;
    font-size: 700%;
    letter-spacing: 8px;
    line-height: 1.5;
    opacity: 0; 
}

h3 {
    font-size: 200%;
    font-weight:500;
    line-height: 1.2;
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #ff073a,
    0 0 80px #ff073a,
    0 0 90px #ff073a,
    0 0 100px #ff073a,
    0 0 150px #ff073a;
}

.btn-landing {
    background-color:  #bf0000;
    border: 1px solid white;
    color: #fff;
    font: 160%;
}

@-webkit-keyframes opacityPulse {
    0% {opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {opacity: 0.0;}
}

.btn-landing:hover {
    background-color: #36342F;
    color: #fff;
}

/* Card page */

#title-container{
max-width: 1200px;
margin: auto;
padding: 60px 30px 0px;
text-align: center;
}

#title-container h3 {
    padding-bottom: 15px;
}

.card-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: auto;
   padding: 60px 30px;
}

.card-wrap1 {
   flex: 1;
   height: 380px;
   margin: 0 15px 30px;
   min-width: 300px;
   max-width: 380px;
   perspective: 200rem;
   width: 300px;
}

.card-wrap1:hover .flipper {
   transform: rotateY(180deg);
}

.flipper {
   border-radius: 10px;
   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
   height: 100%;
   position: relative; 
   transition: transform 1s;
   transform-style: preserve-3d; 
   width: 100%;
}

.card-front, .card-back {
   background-color: #0e1111;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   border-radius: 10px;
   height: 100%;
   position: absolute;
   width: 100%;
}

.front-img {
   background-size: cover;
   background-position: center;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;;
   height: 380px;
}

.card-back {
   align-items: center;
   background-color:#0e1111;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 30px;
   transform: rotateY(180deg);
}

.slasher_img{ 
    border-radius: 50%;
    height: 150px; 
    margin-bottom: 10px; 
    width: 150px;
}

.card-back h2{
   font-weight: bold;
   font-size: 1.2rem;
   padding-top: 8px;
   text-align: center;
}

.card-back p {
   line-height: 1.6;
   margin-top: 10px;
   text-align: center;
   padding-bottom: 10px;
}

.card-back button{
   background-color: #bf0000;
   border: 1px solid white;
   border-radius: 5px;
   color: #ffffff;
   font-size: 0.8em;
   font-weight: bold;
   letter-spacing: 0.05em;
   padding: 10px 14px;
   text-transform: uppercase;
   text-decoration: none;
}

